---
title: Middleman is Watching
body_class: index
---

%div
  .component.col-md-8
    = component "tag td sad" do
      :plain
        %blockquote.align-center
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          %img.img-circle{"data-src" => "assets/javascript/vendor/holder.js/100x100"}
          %small Someone famous in <cite title="Source Title">Source Title</cite>
